//マップ型変数breakpointsを定義
$breakpoints: (
//キー 値
// 'xxs': 'screen and (max-width: 328px)',
'xs': 'screen and (max-width: 599px)',
'sm': 'screen and (max-width: 960px)', //960px以下（スマホ）用の表示
'md': 'screen and (min-width: 961px)', //961px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Courier New', Courier, monospace;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

/*===================================
 * color
===================================*/
$main-color: #186a6a;
$sub-color: #26a6a6;
$btn-color: #011640;
$block-color: #222222;
$white-color: #fff;
$gold-color: #bfab6f;
$bg-color: #f5f5f5;
/*===================================
 * 共通
===================================*/

.is-pc{
  display: block;
  @include mq(sm){
    display: none;
  }
}

.is-sp{
  display: none;
  @include mq(sm){
    display: block;
  }
}

a{
  text-decoration: none;
  color: #fff;
}


.inner{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-title{
  text-align: center;
  font-size: 32px;
  padding: 20px 31px;
  font-weight: bold;
  color: $block-color;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    width:  65px;
    height: 3px;
    background-color: $gold-color;
  }
}

h2{
  font-weight: bold;
  text-align: center;
}

section{
  &:not(:first-child){
  padding: 100px 0;
  }
}

.sec-ttl{
  font-weight: bold;
  font-stretch: normal;
  font-size: 70px;
  line-height: 1.43;
  letter-spacing: 7px;
  text-align: justify;
  color: #fff;
}
.sec-ttl1{
  display: block;
  font-size: 3rem;
  line-height: 1;
  color: $white-color;
  letter-spacing: .3rem;
}

.sec-ttl2{
    display: block;
    font-size: 1.6rem;
    color: $gold-color;
    margin-top: 1rem;
    font-style: italic;
}

/*===================================
 * pagination
===================================*/

.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination ul {
  list-style: none;
  padding: 0;
}

.page-item {
  display: inline-block;
  margin: 0 5px;
}

.page-item a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  text-decoration: none;
}

/*===================================
 * パンくず
===================================*/
.breadcrumbs_inner{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.breadcrumbs {
  margin: 10px 0;
  margin-top: 50px;
  font-size: 14px;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li a {
  color: #666;
  text-decoration: none;
}

.breadcrumbs li::after {
  content: ">";
  margin: 0 5px;
}

.breadcrumbs li:last-child::after {
  content: "";
}

/*===================================
 * slider
===================================*/
.slick-slider{
  position: relative;
  @include mq(sm){
    // width: 90%;
  }
}

.slick-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mv_slideHeght{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 59vh;
  position: relative;
}

.slick-dots{
  display: none !important;
}

.slick-next{
  display: none !important;
}
.slick-prev{
  display: none;
}

.mv_slideHeght {
  transition: transform 5s ease-in-out;
}

.mv_slideHeght:hover {
  transform: scale(1.2);
}

@keyframes zoom {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.2);
  }
}

.zoom {
  animation-name: zoom;
  animation-duration: 10s; /* 適宜調整してください */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*===================================
# fadeInUp
===================================*/

.fadeInUp {
  animation-name: fadeInUp;
}

.inviewfadeInUp {
	opacity: 0;
	transform: translate(0, 40px);
	transition: 1.5s;
}
.fadeInUp {
	opacity: 1.0;
	transform: translate(0, 0);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


/*===================================
 * ページトップ
===================================*/
#pageTop{
  // width: 70px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  // background: #000;
  opacity: 0.6;
  z-index: 9999;
}

/*===================================
 * header
===================================*/

#navPC{
  display: none;
  @include mq(md){
    display: block;
  }
}

.header{
  width: 100%;
  height: 115px;
  z-index: 100;
  background-color: $main-color;
  position: fixed;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}


.logo-title{
  & img {
    @include mq(sm){
      width: 10rem;
    }
  }
}

// ナビゲーションバー
.nav_box{
  display: flex;
}
.navbar_menu{

}

.nav_list{
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.nav_item{
  align-items: center;
  position: relative;
  padding: 6px 40px;

  &:not(:first-child){
    &::before{
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin-right: 40px;
  }
  }

  &.number {
    &::before{
      display: none;
    }
  }

}

.number{
  border-radius: 10px;
  background-color: $sub-color;
}

.navbar_sns{
  margin-left: 32px;
}

.nav_list_sns{
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.nav_item_sns{
  align-items: center;
  &:not(:first-child){
    margin-left: 18px;
  }
}

/*===================================
 * ハンバーガメニュー
===================================*/
.mask{
  @include mq(sm){
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }
  &.active{
    opacity: 0.7;
    visibility: visible;
  }
}
#navSP{
  display: block;
  transform: translateX(100%);
  transition: .3s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient($main-color, $sub-color);
  padding: 80px 0 0;
  width: 80vw;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  z-index: 999;
  &.active {
    display: block;
    transform: translateX(0%);
  }
}

.navSP_item{
  text-align: center;
  border-bottom: 1px dotted #ffffff;
  width: 80%;
  margin: 0 auto;
  line-height: 1;
  padding: 2rem 0;
  &:nth-child( n + 4){
    border-bottom: none;
  }
}

#menuButton {
  display: none;
  @include mq(sm){
    cursor: pointer;
    width: 30px;
    height: 22.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
  }
}
#menuButton div{
  background-color: $white-color;
  height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}
#menuButton div:nth-child(1) {
  transform: translate(-50%,-10px);
}
#menuButton div:nth-child(2) {
  height: 2px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: .3s;
}
#menuButton div:nth-child(3) {
  transform: translate(-50%,10px)
}

#menuButton.active div:nth-child(1) {
  transform: rotate(45deg) translate(-50%,0);
  transform-origin: 0% 50%;
}

#menuButton.active div:nth-child(2) {
  opacity: 0;
}

#menuButton.active div:nth-child(3) {
  transform: rotate(-45deg) translate(-50%,0);
  transform-origin: 0% 50%;
}

.navSP_sns{
  margin-top: 50px;
}

.navSP_list_sns{
  text-align: center;
}
.navSP_item_sns {
  &:not(:first-child){
    margin-top: 18px;
  }
}
.navSP_item_sns a{
  & img {
    width: 10%;
  }
}
/*===================================
 * main
===================================*/
.main{
  padding-top: 115px;
}
/*===================================
 * mainvisual
===================================*/
.mainvisual{
  background-image: url(../img/mainvisual.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 59vh;
  position: relative;
}

.cachcopy{
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(0, -50%);
  @include mq(sm){
    top: 50%;
    right: 50%;
  transform: translate(50%, -50%);
  }

  & h2 {
    position: relative;
    font-weight: bold;
    font-stretch: normal;
    font-size: 70px;
    line-height: 1.43;
    letter-spacing: 7px;
    text-align: justify;
color: #fff;
  }
}

.CatchCopy_sub{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 40px;
}

.CatchCopy__title{
  width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;

    & img {
      width: auto;
      height: 100%;
      max-height: 640px;
    }
}


/*===================================
 * concept
===================================*/

.concept {
  padding-top: 0;
  background-color: $bg-color;
  & .main-title{
    &::after{
      content: 'Greeting';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 14px;
    }
  }

  &__text{
    background-color: $white-color;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    @include mq(sm){
      padding-left: 20px;
      padding-right: 20px;
    }
    & .main-title{
      margin-bottom: 80px;
    }
    & p {
      line-height: 28px;
    }
  }

  &__image{
    padding-top: 30px;
    &-colum{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &:not(:first-child){
        padding-top: 60px;
      }
    }

    &-item{
      position: relative;
      @include mq(sm){
        &:not(:first-child){
          margin-top: 60px;
        }
      }
      & img {
        box-shadow: 8px 9px 4px 0 rgba(0, 0, 0, 0.25);
        width: 100%;
      }
    }
  }
}

.image__desc{
  width: 50%;
  padding: 5px 10px 5px 47px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  background-color: $white-color;
  &::before{
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    color: $main-color;
    padding-right: 20px;
    font-weight: 800;
  }

}


/*===================================
 * menu
===================================*/
.menu{

  & .main-title{
    &::after{
      content: 'Menu';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 14px;
    }
  }

  & .inner {
    margin-top: 120px;
    text-align: center;
    @include mq(sm){
      margin-top: 80px;
    }
  }

  &__title{
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 31px;
    color: $block-color;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width:  100%;
      border-bottom: #bfab6f 2px dotted;
    }

    &::after{
      content: 'epilation';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
    }
  }

  &__contents{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;

    @include mq(sm){
      display: block;
    }
    &-item {
      width: 48%;
      text-align: center;
      @include mq(sm){
        width: 100%;
        &:not(:first-child){
          margin-top: 36px;
        }
      }
    }

  }

  &__descRE{
    position: relative;
    margin-top: 30px;
  }

  &__desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    color: $white-color;
    background-color: $sub-color;
    padding: 0 25px;
    border-radius: 30px;
  }

}

.menu-list{

  &__item{
    border-bottom: 1px dotted #333;
    padding: 10px 30px 10px;
    display: flex;
    justify-content: space-between;

    @include mq(sm){
      &:last-child{
        border-bottom: none;
      }
    }

    & small {
      display: contents;
      font-size: 10px;
    }
  }
}

.menu-itemTitle{
  color: $block-color;
  gap: 10px;
  margin: 0 0 10px;
  padding: 10px 9px;
  border-radius: 30px;

  &.men{
    color: $white-color;
    background-color: $main-color;
  }
  &.wom{
    color: $white-color;
    background-color: #26a6a6;
  }

  &.ather_01{
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    padding: 20px 31px;
    color: $block-color;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      // display: block;
      width:  100%;
      border-bottom: #bfab6f 2px dotted;
    }

    &::after{
      content: 'Facial';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
    }
    }

    &.ather_02{
      text-align: center;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      padding: 20px 31px;
      color: $block-color;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        // display: block;
        width:  100%;
        border-bottom: #bfab6f 2px dotted;
      }

      &::after{
        content: 'Lymph Drainage';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: block;
        color: $gold-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
      }
    }

  &_sub{

  }
}

.menuBtn{
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  background: $main-color;
  color: #fff;
  // width: 300px;
  padding: 18px 38px;
  border-radius: 10px;
}

.menu {
  .menuBtn{
    margin-top: 50px;
  }
}

/*===================================
 * review
===================================*/

.review{
  background-color: $bg-color;
  & .main-title{
    &::after{
      content: 'Review';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 14px;
    }
  }

  & .inner {
    margin-top: 72px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-item{
      background-color: $white-color;
      width: calc(100% / 5);
      padding: 20px;
      margin-bottom: 20px;

      @include mq(md){
        &:nth-child(n + 5){
          margin-top: 72px;
        }
      }

      @include mq(sm){
        width: 40%;
        &:nth-child(n + 3){
          margin-top: 72px;
        }
      }

      @include mq(xs){
        width: 100%;
        &:nth-child(n + 2){
          margin-top: 30px;
        }
      }

      & h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 12px;
        /* ボックスの高さと同一、または86% */
        text-align: center;
        letter-spacing: 0.3em;
        padding-top: 35px;
        padding-bottom: 20px;
      }

      & p {
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        padding: 0 30px 30px 30px;
      }
    }
  }
}

/*===================================
 * stylist
===================================*/

.stylist{
  background-color: rgba(38, 166, 166, 0.4);
  & .main-title{
    color: $main-color;

    &::after{
      content: 'Stylist';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $white-color;
      font-size: 14px;
    }
    &::before{
      background-color: $white-color;
    }
  }

  &__box{
    background-color: $white-color;
    margin-top: 84px;
    padding: 40px;
      &-item{
        display: flex;

        @include mq(sm){
          img {
            width: 100%;
          }
          display: block;
        }
      }
  }

  &__desc{
    margin-left: 40px;

    @include mq(sm){
      margin-left: 0;
      margin-top: 20px;
      text-align: center;
    }

    & h4 {
      color: $main-color;
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 34px;
    }

    & p {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 33px;
      /* または206% */

      text-align: justify;

      margin-bottom: 30px;
    }
  }
}


/*===================================
 * news
===================================*/

.news{
  & .main-title{
    &::after{
      content: 'News';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 14px;
    }
  }

  & .inner {
    margin-top: 52px;
    text-align: center;
  }

  &__list{
    margin-bottom: 40px;

    &-item{
      border-bottom: 1px dotted #000;
      width: 60%;
      margin: 0 auto;
      text-align: justify;
      display: flex;
      &:not(:last-child){
        margin-bottom: 30px;
      }
      @include mq(sm){
        width: 100%;
      }
      & a {
        color: $block-color;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        & time {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 45px;
          margin-right: 30px;
        }
      }
    }

    &-tag {
      font-size: 10px;
      font-weight: 700;
      text-align: center;
      max-width: 50px;
      line-height: 1.5;
      border-radius: 60px;
      background-color: $main-color;
      color: $white-color;
    }
  }
}


/*===================================
 * access
===================================*/
.access{
  padding-bottom: 20px;

  & .main-title{
    &::after{
      content: 'Access';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      display: block;
      color: $gold-color;
      font-size: 14px;
    }
  }
  iframe{
    margin-top: 80px;
    width: 100%;
    height: 500px;
  }
}


/*===================================
 * footer
===================================*/

.footer{
  background-color: $main-color;
  color: $white-color;
  &__inner{
    padding: 70px 50px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .footer-box{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 30px;
    @include mq(sm){
      display: block;
    }
  }
  .footer-item{
    width: 30%;
    text-align: left;
    @include mq(sm){
      width: 100%;
      text-align: center;
      &:not(:first-child){
        margin-top: 30px;
      }
    }
  }
  .footer-item p {
    margin-bottom: 30px;
  }
}
