@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Courier New", Courier, monospace;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

/*===================================
 * color
===================================*/
/*===================================
 * 共通
===================================*/
.is-pc {
  display: block;
}
@media screen and (max-width: 960px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 960px) {
  .is-sp {
    display: block;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-title {
  text-align: center;
  font-size: 32px;
  padding: 20px 31px;
  font-weight: bold;
  color: #222222;
  position: relative;
}
.main-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 65px;
  height: 3px;
  background-color: #bfab6f;
}

h2 {
  font-weight: bold;
  text-align: center;
}

section:not(:first-child) {
  padding: 100px 0;
}

.sec-ttl {
  font-weight: bold;
  font-stretch: normal;
  font-size: 70px;
  line-height: 1.43;
  letter-spacing: 7px;
  text-align: justify;
  color: #fff;
}

.sec-ttl1 {
  display: block;
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.3rem;
}

.sec-ttl2 {
  display: block;
  font-size: 1.6rem;
  color: #bfab6f;
  margin-top: 1rem;
  font-style: italic;
}

/*===================================
 * pagination
===================================*/
.pagination {
  text-align: center;
  margin: 20px 0;
}

.pagination ul {
  list-style: none;
  padding: 0;
}

.page-item {
  display: inline-block;
  margin: 0 5px;
}

.page-item a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  text-decoration: none;
}

/*===================================
 * パンくず
===================================*/
.breadcrumbs_inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.breadcrumbs {
  margin: 10px 0;
  margin-top: 50px;
  font-size: 14px;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li a {
  color: #666;
  text-decoration: none;
}

.breadcrumbs li::after {
  content: ">";
  margin: 0 5px;
}

.breadcrumbs li:last-child::after {
  content: "";
}

/*===================================
 * slider
===================================*/
.slick-slider {
  position: relative;
}
.slick-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mv_slideHeght {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 59vh;
  position: relative;
}

.slick-dots {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.slick-prev {
  display: none;
}

/*===================================
 * header
===================================*/
#navPC {
  display: none;
}
@media screen and (min-width: 961px) {
  #navPC {
    display: block;
  }
}

.header {
  width: 100%;
  height: 115px;
  z-index: 100;
  background-color: #186a6a;
  position: fixed;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (max-width: 960px) {
  .logo-title img {
    width: 10rem;
  }
}

.nav_box {
  display: flex;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.nav_item {
  align-items: center;
  position: relative;
  padding: 6px 40px;
}
.nav_item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 1px;
  height: 20px;
  background-color: #fff;
  margin-right: 40px;
}
.nav_item.number::before {
  display: none;
}

.number {
  border-radius: 10px;
  background-color: #26a6a6;
}

.navbar_sns {
  margin-left: 32px;
}

.nav_list_sns {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.nav_item_sns {
  align-items: center;
}
.nav_item_sns:not(:first-child) {
  margin-left: 18px;
}

/*===================================
 * ハンバーガメニュー
===================================*/
@media screen and (max-width: 960px) {
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
}
.mask.active {
  opacity: 0.7;
  visibility: visible;
}

#navSP {
  display: block;
  transform: translateX(100%);
  transition: 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(#186a6a, #26a6a6);
  padding: 80px 0 0;
  width: 80vw;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  z-index: 999;
}
#navSP.active {
  display: block;
  transform: translateX(0%);
}

.navSP_item {
  text-align: center;
  border-bottom: 1px dotted #ffffff;
  width: 80%;
  margin: 0 auto;
  line-height: 1;
  padding: 2rem 0;
}
.navSP_item:nth-child(n+4) {
  border-bottom: none;
}

#menuButton {
  display: none;
}
@media screen and (max-width: 960px) {
  #menuButton {
    cursor: pointer;
    width: 30px;
    height: 22.5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
  }
}

#menuButton div {
  background-color: #fff;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

#menuButton div:nth-child(1) {
  transform: translate(-50%, -10px);
}

#menuButton div:nth-child(2) {
  height: 2px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

#menuButton div:nth-child(3) {
  transform: translate(-50%, 10px);
}

#menuButton.active div:nth-child(1) {
  transform: rotate(45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}

#menuButton.active div:nth-child(2) {
  opacity: 0;
}

#menuButton.active div:nth-child(3) {
  transform: rotate(-45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
}

.navSP_sns {
  margin-top: 50px;
}

.navSP_list_sns {
  text-align: center;
}

.navSP_item_sns:not(:first-child) {
  margin-top: 18px;
}

.navSP_item_sns a img {
  width: 10%;
}

/*===================================
 * main
===================================*/
.main {
  padding-top: 115px;
}

/*===================================
 * mainvisual
===================================*/
.mainvisual {
  background-image: url(../img/mainvisual.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 59vh;
  position: relative;
}

.cachcopy {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(0, -50%);
}
@media screen and (max-width: 960px) {
  .cachcopy {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
.cachcopy h2 {
  position: relative;
  font-weight: bold;
  font-stretch: normal;
  font-size: 70px;
  line-height: 1.43;
  letter-spacing: 7px;
  text-align: justify;
  color: #fff;
}

.CatchCopy_sub {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 40px;
}

.CatchCopy__title {
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
}
.CatchCopy__title img {
  width: auto;
  height: 100%;
  max-height: 640px;
}

/*===================================
 * concept
===================================*/
.concept {
  padding-top: 0;
  background-color: #f5f5f5;
}
.concept .main-title::after {
  content: "Greeting";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 14px;
}
.concept__text {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .concept__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.concept__text .main-title {
  margin-bottom: 80px;
}
.concept__text p {
  line-height: 28px;
}
.concept__image {
  padding-top: 30px;
}
.concept__image-colum {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.concept__image-colum:not(:first-child) {
  padding-top: 60px;
}
.concept__image-item {
  position: relative;
}
@media screen and (max-width: 960px) {
  .concept__image-item:not(:first-child) {
    margin-top: 60px;
  }
}
.concept__image-item img {
  box-shadow: 8px 9px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

.image__desc {
  width: 50%;
  padding: 5px 10px 5px 47px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
}
.image__desc::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  color: #186a6a;
  padding-right: 20px;
  font-weight: 800;
}

/*===================================
 * menu
===================================*/
.menu .main-title::after {
  content: "Menu";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 14px;
}
.menu .inner {
  margin-top: 120px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .menu .inner {
    margin-top: 80px;
  }
}
.menu__title {
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 31px;
  color: #222222;
  position: relative;
}
.menu__title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: #bfab6f 2px dotted;
}
.menu__title::after {
  content: "epilation";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.menu__contents {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
@media screen and (max-width: 960px) {
  .menu__contents {
    display: block;
  }
}
.menu__contents-item {
  width: 48%;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .menu__contents-item {
    width: 100%;
  }
  .menu__contents-item:not(:first-child) {
    margin-top: 36px;
  }
}
.menu__descRE {
  position: relative;
  margin-top: 30px;
}
.menu__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  background-color: #26a6a6;
  padding: 0 25px;
  border-radius: 30px;
}

.menu-list__item {
  border-bottom: 1px dotted #333;
  padding: 10px 30px 10px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .menu-list__item:last-child {
    border-bottom: none;
  }
}
.menu-list__item small {
  display: contents;
  font-size: 10px;
}

.menu-itemTitle {
  color: #222222;
  gap: 10px;
  margin: 0 0 10px;
  padding: 10px 9px;
  border-radius: 30px;
}
.menu-itemTitle.men {
  color: #fff;
  background-color: #186a6a;
}
.menu-itemTitle.wom {
  color: #fff;
  background-color: #26a6a6;
}
.menu-itemTitle.ather_01 {
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 31px;
  color: #222222;
  position: relative;
}
.menu-itemTitle.ather_01::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: #bfab6f 2px dotted;
}
.menu-itemTitle.ather_01::after {
  content: "Facial";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.menu-itemTitle.ather_02 {
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  padding: 20px 31px;
  color: #222222;
  position: relative;
}
.menu-itemTitle.ather_02::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: #bfab6f 2px dotted;
}
.menu-itemTitle.ather_02::after {
  content: "Lymph Drainage";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.menuBtn {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  background: #186a6a;
  color: #fff;
  padding: 18px 38px;
  border-radius: 10px;
}

.menu .menuBtn {
  margin-top: 50px;
}

/*===================================
 * review
===================================*/
.review {
  background-color: #f5f5f5;
}
.review .main-title::after {
  content: "Review";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 14px;
}
.review .inner {
  margin-top: 72px;
}
.review__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.review__box-item {
  background-color: #fff;
  width: 20%;
  padding: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 961px) {
  .review__box-item:nth-child(n+5) {
    margin-top: 72px;
  }
}
@media screen and (max-width: 960px) {
  .review__box-item {
    width: 40%;
  }
  .review__box-item:nth-child(n+3) {
    margin-top: 72px;
  }
}
@media screen and (max-width: 599px) {
  .review__box-item {
    width: 100%;
  }
  .review__box-item:nth-child(n+2) {
    margin-top: 30px;
  }
}
.review__box-item h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  /* ボックスの高さと同一、または86% */
  text-align: center;
  letter-spacing: 0.3em;
  padding-top: 35px;
  padding-bottom: 20px;
}
.review__box-item p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 0 30px 30px 30px;
}

/*===================================
 * stylist
===================================*/
.stylist {
  background-color: rgba(38, 166, 166, 0.4);
}
.stylist .main-title {
  color: #186a6a;
}
.stylist .main-title::after {
  content: "Stylist";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #fff;
  font-size: 14px;
}
.stylist .main-title::before {
  background-color: #fff;
}
.stylist__box {
  background-color: #fff;
  margin-top: 84px;
  padding: 40px;
}
.stylist__box-item {
  display: flex;
}
@media screen and (max-width: 960px) {
  .stylist__box-item {
    display: block;
  }
  .stylist__box-item img {
    width: 100%;
  }
}
.stylist__desc {
  margin-left: 40px;
}
@media screen and (max-width: 960px) {
  .stylist__desc {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}
.stylist__desc h4 {
  color: #186a6a;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 34px;
}
.stylist__desc p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* または206% */
  text-align: justify;
  margin-bottom: 30px;
}

/*===================================
 * news
===================================*/
.news .main-title::after {
  content: "News";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 14px;
}
.news .inner {
  margin-top: 52px;
  text-align: center;
}
.news__list {
  margin-bottom: 40px;
}
.news__list-item {
  border-bottom: 1px dotted #000;
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  display: flex;
}
@media screen and (max-width: 960px) {
  .news__list-item {
    width: 100%;
  }
}
.news__list-item a {
  color: #222222;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.news__list-item a time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 45px;
  margin-right: 30px;
}

/*===================================
 * access
===================================*/
.access {
  padding-bottom: 20px;
}
.access .main-title::after {
  content: "Access";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  color: #bfab6f;
  font-size: 14px;
}
.access iframe {
  margin-top: 80px;
  width: 100%;
  height: 500px;
}

/*===================================
 * footer
===================================*/
.footer {
  background-color: #186a6a;
  color: #fff;
}
.footer__inner {
  padding: 70px 50px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}
@media screen and (max-width: 960px) {
  .footer .footer-box {
    display: block;
  }
}
.footer .footer-item {
  width: 30%;
  text-align: left;
}
@media screen and (max-width: 960px) {
  .footer .footer-item {
    width: 100%;
    text-align: center;
  }
  .footer .footer-item:not(:first-child) {
    margin-top: 30px;
  }
}
.footer .footer-item p {
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */